<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tommy.tommysyamranata_1202153368_studycase5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TOMMYSYAMRANATA_1202153368_StudyCase5"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".add_ToDo" />
        <activity android:name=".Setting" android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>